
body {
    background-image: url('santa.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(225, 13, 13);
}
.header {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 60px;
    background-color: rgba(251, 248, 249, 0.9);
    padding: 20px;
    border: 3px solid black;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.christmas {
    background-color: rgba(251, 248, 249, 0.82); 
    height: 300px;
    width: 200px;
    border: 3px solid black;
    margin-top: 50px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.days, .hours, .minutes, .seconds {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

.red {
    border: none;
    font-family: 'Staatliches', cursive;
    color: red;
}

button {
    margin-left: 100px;
    border: none;
}

.img {
    width: 150px;
}

@media all and (max-width: 860px) {
    h1 {
        font-size: 40px;
    }
    .days, .hours, .minutes, .seconds, h3 {
        font-size: 25px;
    }
    .christmas {
        height: 225px;
        width: 150px;
    }
    .img {
        width: 100px;
    }
}
@media all and (max-width: 500px) {
    h1 {
        font-size: 30px;
    }
    .days, .hours, .minutes, .seconds, h3 {
        font-size: 18px;
    }
    .christmas {
        height: 150px;
        width: 100px;
    }
    .img {
        width: 70px;
    }
}


